
.content-resume {
    display: flex;
    flex-direction: column;
    flex: 1; /* Takes up remaining space */
    justify-content: center;
    align-items: center;
}



#resume-card{
    transition: border-color .25s ease;
    width: 400px;
    height: 550px;  
    border-radius: 1%;
    border: 1px solid black;
    transition: scale 1s ease, transform 1s ease;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.393);

    animation: resume-load 300ms 150ms;
    animation-fill-mode: forwards;
    scale: 0;

}
.image{
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}



@keyframes rotateBorder {
    0% {
        border-color: rgb(0, 255, 255) rgb(255, 0, 0) rgb(255, 0, 0) rgb(0, 255, 255);
    }
    25% {
        border-color: rgba(255, 0, 0, 0.75) rgba(255, 0, 255, 0.75) rgba(0, 255, 255, 0.75) rgba(255, 0, 0, 0.75);
    }
    50% {
        border-color: rgba(0, 255, 255, 0.5) rgba(255, 0, 0, 0.5) rgb(255, 0, 255, 0.75) rgba(0, 255, 255, 0.5);
    }
    75% {
        border-color: rgba(255, 0, 0, 0.75) rgba(225, 0, 255, 0.75) rgba(0, 255, 255, 0.75) rgba(255, 0, 0, 0.75);
    }
    100% {
        border-color: rgb(0, 255, 255) rgb(255, 0, 0) rgb(255, 0, 0) rgb(0, 255, 255);
    }
}

@keyframes resume-load {
    0% {
        scale: 0;
    }
    100% {
        scale: 1;
    }
}

@media only screen and (max-width: 800px){
    .top-nav-email{
        display: none;
    }
}

@media only screen and (max-width: 475px) {
        .shell {
            padding: 0;
        }
        .container{
            width: 100%;
        }
    
        .left-nav {
            width: 50px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            border-right: .1px solid black;
            padding: 10px 5px 0 5px;
            display: none;
    
        }
    
        #logo {
           margin: 0;
        }
        .left-nav-social-links {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; /* Center the links vertically */
            flex: 1; /* Allow the links to take up remaining vertical space */
        }
    
    
        .social-links {
            margin-bottom: 0;
        }
        .left-nav-link-container{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-bottom: 10px;
        }
    
        .top-nav {
            flex-direction: column;
            height: auto;
            padding: 10px 0 0 0;
        }
        .top-nav-email{
            display: none;
        }
    
        #night-mode-toggle{
            display: none;
        }
    
        .top-nav-left,
        .top-nav-right {
            flex: none;
            width: 100%;
            text-align: center;
            justify-content: center;
            padding: 10px;
        }
        .top-nav-right h3{
            font-size: .95rem;
        }
    
        .top-nav-right ul {
            justify-content: center;
        }
    
        .top-nav-right li {
            padding-right: 10px;
            font-size: 1rem;
        }
    
    
        .content {
            flex: 1;
            height: 100%;
            justify-content: flex-start;
        }
        .main-content{
            padding: 0;
            margin: 0;
            justify-content: flex-start;
            align-items: center;
        }
    
        .content h1 {
            flex: 0;
            margin: 0;
            font-family: 'Exo 2', sans-serif;
            font-size: 3rem;
            color: rgb(70, 70, 70);
            line-height: 1;
            margin-bottom: 25%;
        }

        #image-main {
            border-radius: 6px;
            padding: 0;
            margin: 0;
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
    
        .content-flex {
            flex:1;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    
        #contact-form,
        #confirmation-message {
            width: 100%;
            max-width: 100%;
            margin: 0;
            left: 0;
        }
}



