@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

:root {
    --load-time: 150ms;

    --header-font-size: calc(4.5rem - .5vh);
    --subtext-font-size: calc(1.75rem - 1.25vh);

    --header-font: 'Exo 2', serif;
    --subtext-font: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
}
html{
    overflow: hidden;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(76, 76, 76);
    animation: load-body 300ms var(--load-time);
    animation-fill-mode: forwards;
    overflow-y: hidden;
    overflow-x: hidden;
    color: grey;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
li{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
h1, h2, h3, p{
    cursor: default;
}

.shell{
    padding: calc(50px - 1vh) calc(100px - 1vh);
    align-items: center;
    height: 100vh;
    border-collapse: collapse;
    border-radius: 12px 12px 0 0 ;
    z-index: 2000;
}
.container{
    width: 100%;
    height: 100%;
    background-color: rgb(247, 246, 246);
    border-radius: 12px 12px 0 0 ;
    border: 6px solid rgb(246, 253, 246);
    display: inline-flex;
    z-index: 200;
    animation: container-load 300ms var(--load-time);
    animation-fill-mode: forwards;

}


.left-nav{
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-right: 1px solid transparent;

}

#night-mode-toggle{
    display: none;

}
#logo{
    margin: 20px;
    animation: logo-load 300ms var(--load-time), load 300ms var(--load-time);
    animation-fill-mode: forwards;
    scale: .25;
    opacity: 0;

}


.left-nav-social-links{
    flex: 1;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
}
.left-nav-link-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid transparent;
    border-color: rgb(0, 255, 102) rgba(0, 64, 13, 0) rgba(0, 64, 13, 0) rgba(0, 64, 13, 0);
    animation: left-nav 600ms;
    animation-fill-mode: forwards;
    transform: rotate((-360deg));
}
@keyframes rotateBorder {
    0% {
        border-color: rgb(0, 255, 102) rgba(0, 64, 13, 0) rgba(0, 64, 13, 0) rgba(0, 64, 13, 0);
    }

    25% {
        border-color: rgba(0, 64, 13, 0) rgb(0, 255, 102) rgba(0, 64, 13, 0)  rgba(0, 64, 13, 0);
    }
    50% {
        border-color: rgba(0, 64, 13, 0) rgba(0, 64, 13, 0)  rgb(0, 255, 102) rgba(0, 64, 13, 0);
    }
    75% {
        border-color: rgba(0, 64, 13, 0) rgba(0, 64, 13, 0)  rgba(0, 64, 13, 0) rgb(0, 255, 102);
    } 
}
.social-links{
    display: flex;
    width: 30px;
    height: 30px;
    transition: scale .05s ease;
    border: none;
    opacity: .95;

}

#left-nav-one {
    border-color: rgb(0, 255, 102) rgba(0, 64, 13, 0) rgba(0, 64, 13, 0) rgba(0, 64, 13, 0);
    animation: left-nav 600ms, rotateBorder 600ms linear infinite;
    animation-fill-mode: forwards;
    transform: rotate((-360deg));
}
#left-nav-two {
    border-color: rgb(0, 255, 102) rgba(0, 64, 13, 0) rgba(0, 64, 13, 0) rgba(0, 64, 13, 0);
    animation: left-nav 450ms, rotateBorder 600ms linear infinite var(--load-time);
    animation-fill-mode: forwards;
    transform: rotate((-360deg));
}
#left-nav-three {
    border-color: rgb(0, 255, 102) rgba(0, 64, 13, 0) rgba(0, 64, 13, 0) rgba(0, 64, 13, 0);
    animation: left-nav 300ms, rotateBorder 600ms linear infinite calc(var(--load-time) + 150ms);
    animation-fill-mode: forwards;
    transform: rotate((-360deg));

}

.social-links:hover{
    scale: .9;
    opacity: 1;
}
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    animation: load 300ms var(--load-time);
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(-10%);
}
.top-nav-left{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: top-left-nav-load 300ms var(--load-time);
    animation-fill-mode: forwards;
    transform: translateX(-10%);

}
.top-nav-right{
    flex: 1;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    flex-wrap: wrap;
    animation-fill-mode: forwards;
    transform: translateY(-10%);
}
#works{
    animation: top-right-nav-load 300ms calc(var(--load-time));
    animation-fill-mode: forwards;
    transform: translateY(-10%);
}
#resume{
    animation: top-right-nav-load 300ms calc(var(--load-time) + 150ms);
    animation-fill-mode: forwards;
    transform: translateY(-10%);
}
#home{
    animation: top-right-nav-load 300ms calc(var(--load-time) + 300ms);
    animation-fill-mode: forwards;
    transform: translateY(-10%);
}
.top-nav-right h3{
    cursor: default;
}
.top-nav-right ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
}
.top-nav-right li{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    padding-right: 30px;
    
}


.top-nav-link{
    width: 25px;
    height: 25px;
}

.top-nav-email{
    cursor: default;
    margin: 0 30px 0 5px;
    font-family: 'Calistoga', serif;
}


.content {
    flex: 1; /* Takes up remaining space */
    justify-content: center;
    align-items: center;
    animation: load 300ms ease-in-out calc(var(--load-time));
    animation-fill-mode: forwards;
    opacity: 0;

}
.content h1{
    flex:1;
    margin: 25px 0 0 100px;
    font-family: var(--header-font);
    font-size: var(--header-font-size);
    max-width: 300px;
    color: rgb(70, 70, 70);

}
#circle {
    position: fixed;
    width: 30px;
    height: 30px;
    border: 5px solid rgba(0, 255, 102, .20);
    right: 68%;
    top: 29%;
    background: rgba(0, 255, 102, .25);

}
.trevor {
    animation: first-name-slide 450ms var(--load-time);
    animation-fill-mode: forwards;
    transform: translateX(20px);
    z-index: 10;
}
#t {
    position: relative;
    right: 57%;
    top: -115px;
    animation: t-load 600ms ease-in calc(var(--load-time) + 600ms);
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes t-load {
    0% {
        right: 57%;
        top: -115px;
        opacity: 0;
    }
    50% {
        right: -3%;
        top: 3px;
        opacity: .5;
    }
    100% {
        right: 0;
        top: 0;
        opacity: 1;
    }
}
.sykes{
    margin-left: 50px;
    margin-bottom: 25px;
    animation: last-name-slide 450ms var(--load-time);
    animation-fill-mode: forwards;
    transform: translateX(-20px);

}
.content h2{
    margin: 0 0 30px 125px;
    max-width: 300px;
    color: rgb(119, 119, 119);
    font-family: var(--subtext-font);
    font-size: var(--subtext-font-size);

    animation: subhead-load 300ms calc(var(--load-time) + 150ms);
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(-20px);
}
.content p{
    margin: 0 0 0 125px;
    max-width: 350px;
    font-size: var(--subtext-font-size);
    font-family: var(--subtext-font);
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 50px;
    color: rgb(0, 0, 0);

    animation: subhead-load 300ms calc(var(--load-time) + 300ms);
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(-20px);
}
.skills {
    
    background: black;
    padding-left: 100px;
    background-image: linear-gradient(to right, #0091ff, #0084ff);
    -webkit-background-clip: text; /* For Safari */
    -moz-background-clip: text; /* For Firefox */
    -ms-background-clip: text; /* For some versions of Internet Explorer */
    background-clip: text;
    color: transparent;
}

.skills-text {
    background: linear-gradient(rgb(247, 246, 246) 50%, rgba(0, 255, 102, .5));

    
}
.skills-text:hover {
    animation: skills-text-hover 50ms ease;
    animation-fill-mode: forwards;
    background: linear-gradient(rgb(247, 246, 246) 50%, rgba(0, 255, 102, .5));
    cursor: pointer;
}
.skills-text:left{
    animation: none;
}
@keyframes skills-text-hover {
    0%{
        background: linear-gradient(rgb(247, 246, 246) 50%, rgba(0, 255, 102, .5));
    }
    25% {
        background: linear-gradient(rgb(247, 246, 246) 45%, rgba(0, 255, 102, 0.55));
    }
    50%{
        background: linear-gradient(rgb(247, 246, 246) 30%, rgba(0, 255, 102, .70));
    }
    75%{
        background: linear-gradient(rgb(247, 246, 246) 15%, rgba(0, 255, 102, .85));
    }
    100%{
        background: linear-gradient(rgb(247, 246, 246) 0.001%, rgba(0, 255, 102, 1));
        color: black
    }
}
@keyframes skills-load {
    0%{
        background: linear-gradient(white 100%, rgba(0, 255, 102, 0));
    }
    25% {
        background: linear-gradient(white 85%, rgba(0, 255, 102, 0.15));
    }
    50%{
        background: linear-gradient(white 70%, rgba(0, 255, 102, .30));
    }
    75%{
        background: linear-gradient(white 55%, rgba(0, 255, 102, .45));
    }
    100%{
        background: linear-gradient(white 50%, rgba(0, 255, 102, .5));
        color: black
    }
}

.stack-container{
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    cursor: default;
    background: rgb(137, 137, 137);
    height: 50px;
    max-width: 425px;
    margin-left: 75px;
    border-radius: 12px 12px 0 0 ;

}
.stack {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    margin: 0 10px 0 0;
    border-radius: 50%;
    letter-spacing: -.5px;
    font-weight: 700;
    color: white;

}
.one{
    animation: stack-load  300ms ease-in calc(var(--load-time) + 150ms);
    animation-fill-mode: forwards;
    transform: translateY(-30px);


}
.two{
    animation: stack-load 300ms ease-in calc(var(--load-time) + 300ms);
    animation-fill-mode: forwards;
    transform: translateY(-30px);


}

.three{
    animation: stack-load 300ms ease-in calc(var(--load-time) + 450ms);
    animation-fill-mode: forwards;
    transform: translateY(-30px);


}
.four{
    animation: stack-load 300ms ease-in calc(var(--load-time) + 600ms);
    animation-fill-mode: forwards;
    transform: translateY(-30px);

}
.five{
    animation: stack-load 300ms ease-in calc(var(--load-time) + 750ms);
    animation-fill-mode: forwards;
    transform: translateY(-30px);

}

.stack:last-child{
    margin: 0;
}



#image-main{
    height: auto;
    border-radius: 50%;
    animation: content-scale 300ms calc(var(--load-time));
    animation-fill-mode: forwards;
    scale: 0;
    opacity: 1
}

.image{
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 3%;
}


.content-flex{
    flex: 1;
    display: flex;

}


.works{
    animation: content-scale 300ms ease-out calc(var(--load-time));
    animation-fill-mode: forwards;
    scale: 0;
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .shell {
        padding: 20px;
    }

    .container {
        border: none;
    }

    .left-nav {
        width: 100%;
        border-right: none;
        text-align: center;
    }

    #logo {
        margin: 10px;
    }

    .left-nav-social-links {
        margin-bottom: 20px;

    }

    .top-nav {
        flex-direction: column;
        height: auto;
    }

    .top-nav-left,
    .top-nav-right {
        flex: none;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .top-nav-right ul {
        justify-content: center;
    }

    .top-nav-right li {
        padding-right: 10px;
    }

    .content {
        margin: 0;
    }

    .content h1,
    .content h2,
    .content p {
        margin: 0 10px;
    }

    .content p {
        max-width: 100%;
    }

    .btn-container {
        margin: 0;
    }

    #image-main{
        border-radius: 0;
        width: 100%;
    }

    .image {
        border-radius: 0;
        overflow: hidden; /* Ensures the image doesn't overflow its container */
        
    }

    .content-flex,
    .main-content {
        flex-direction: column;
    }


}

@media only screen and (max-width: 1210px){
    #image-main {
        width: 100%;
    }
}
/* Media Query for Small Screens */
@media only screen and (max-width: 480px) {
    .shell {
        padding: 0;
    }
    .container{
        width: 100%;
    }

    .left-nav {
        width: 50px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 5px 0 5px;

    }

    #logo {
       margin: 0;
    }
    .left-nav-social-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Center the links vertically */
        flex: 1; /* Allow the links to take up remaining vertical space */
    }


    .social-links {
        margin-bottom: 0;
    }
    .left-nav-link-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .top-nav {
        flex-direction: column;
        height: auto;
        padding: 10px 0 0 0;
    }

    #night-mode-toggle{
        display: none;
    }

    .top-nav-left,
    .top-nav-right {
        flex: none;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding: 10px;
    }
    .top-nav-right h3{
        font-size: .95rem;
    }

    .top-nav-right ul {
        justify-content: center;
    }

    .top-nav-right li {
        padding-right: 10px;
        font-size: 1rem;
    }

    .main-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .content h1 {
        flex: 1;
        margin: 0;
        font-family: 'Exo 2', sans-serif;
        font-size: 3rem;
        color: rgb(70, 70, 70);
        line-height: 1;
    }
    .trevor{
        margin-right: 50px;
    }
    .sykes {
        margin-left: 50px;
        margin-bottom: 10px;
    }

    .content h2 {
        flex: 1;
        margin: 0;
        color: rgb(119, 119, 119);
        font-family: 'Montserrat', sans-serif;
        padding: 0;
        max-width: 100px;
        font-size: 1.5rem
    }

    .content p {
        flex: 1;
        margin: 0;
        max-width: 75%;
        font-size: .75rem;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        margin-bottom: 0;
        color: rgb(0, 0, 0);
        background: transparent;
    }

    .btn-container,
    #cta {
        display: none;
        margin: 0;
    }

    #image-main {
        border-radius: 50%;
        padding: 0;
        margin-bottom: 50px;
        z-index: 1000;
    }

    .image {
        border-radius: 3%;
        padding: 0;
        z-index: 1000;
    }
    .image img{
        z-index: 1000;
    }

    .content-flex {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #contact-form,
    #confirmation-message {
        width: 100%;
        max-width: 100%;
        margin: 0;
        left: 0;
    }
}

@media only screen and (max-width: 390px) {
    
    .top-nav-email{
        display: none;
    }

}


@keyframes logo-load {
    0% {
        scale: .25;
    }

    100% {
        scale: 1;
    }
}

@keyframes load{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes load-body {
    0% {
        background: rgb(76, 76, 76);
    }
    100% {
        background: rgb(187, 187, 187);

    }
}

@keyframes top-right-nav-load {
    0% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes top-left-nav-load {
    0% {
        transform: translateX(-10%);
    }
    50% {
        transform: translateX(1%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes left-nav {
    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes content-scale {
    0% {
        scale: 0;
        opacity: 1;
    }

    100% {
        scale: 1;
        opacity: .99;
    }
}
@keyframes last-name-slide {
    0% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes first-name-slide {
    0% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes subhead-load {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes stack-load {
    0% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes container-load {
    0% {
        border: 6px solid rgb(76, 76, 76);
    }
    100% {
            border: 6px solid  rgb(247, 246, 246); 
    }
}














