
::-webkit-scrollbar {
    display: none;
}



.works-content-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 100px;

}
.works-content {
    flex: 1; /* Takes up remaining space */
    justify-content: center;
    align-items: center;
    animation: load 300ms ease-in-out calc(var(--load-time));
    animation-fill-mode: forwards;
    opacity: 0;

}
.works-content h1{
    flex:1;
    margin: 25px 0 0 100px;
    font-family: var(--header-font);
    font-size: var(--header-font-size);
    max-width: 300px;
    color: rgb(70, 70, 70);
}
.works-content h2{
    margin: 0 0 30px 125px;
    max-width: 300px;
    color: rgb(119, 119, 119);
    font-family: var(--subtext-font);
    font-size: var(--subtext-font-size);

    animation: subhead-load 300ms calc(var(--load-time) + 150ms);
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(-20px);
}
.works-content p{
    margin: 0 0 0 125px;
    max-width: 350px;
    font-size: var(--subtext-font-size);
    font-family: var(--subtext-font);
    letter-spacing: 1px;
    margin-bottom: 100px;
    animation: subhead-load 300ms calc(var(--load-time) + 300ms);
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(-20px);
}
p {
    color: black;
}


.project {
    margin: 0;
    padding: 0;
}

.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 3%;
   background: transparent;
   padding: 0;

}



.work-item {
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 100px;
    position: relative;
    overflow: hidden;
    background: rgb(237, 237, 237);
    transition: border-color .25s ease;
    border-radius: 3%;
    padding: 0;
    cursor: pointer;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, .2);
    border: 3px solid transparent;
    
}

.work-item a {
    display: block;
    position: relative;
    z-index: 1;
    padding: 0;

}

.works img {
    width: 100%;
    border-bottom: 3px solid rgb(130, 130, 130);
    border-top: 3px solid rgb(130, 130, 130);
}

.work-item:hover {
    animation: rotateBorder 900ms linear infinite; /* Add a 2s delay to the animation */
    animation-fill-mode: forwards;
    border: 3px solid transparent;
    border-color: rgb(0, 255, 102) rgba(0, 164, 13, 0.3) rgba(0, 164, 13, 0.3) rgba(0, 164, 13, 0.3);
    scale: 1.01
}

.works a{
    text-decoration: none;
    margin: 5px;
    padding: 0;
}
.project-title {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 25px;
}
.project-description {
    text-decoration: none;
    background: radial-gradient(rgb(255, 255, 255) 50%, rgb(231, 231, 231));
    color: black;
    border-radius: 3%;
    cursor: pointer;
    border-top: 3px solid rgb(255, 255, 255);
    padding: 10px;
    margin: 0;
    font-size: 1.2rem;
}

#one{
    scale: 0;
    animation: project-load 600ms calc(var(--load-time) + 300ms) ;
    animation-fill-mode: forwards;

}

#two{ 
    scale: 0;
    animation: project-load 600ms calc(var(--load-time) + 450ms);
    animation-fill-mode: forwards;

}

#three{
    scale: 0;
    animation: project-load 600ms calc(var(--load-time) + 600ms);
    animation-fill-mode: forwards;
}
#four{
    scale: 0;
    animation: project-load 600ms calc(var(--load-time) + 750ms);
    animation-fill-mode: forwards;
}


/* Add a rotating border to the work items */   
@keyframes rotateBorder {
    0% {
        border-color: rgb(0, 255, 102) rgba(0, 64, 13, 0) rgba(0, 64, 13, 0) rgba(0, 64, 13, 0);
    }

    25% {
        border-color: rgba(0, 64, 13, 0) rgb(0, 255, 102) rgba(0, 64, 13, 0)  rgba(0, 64, 13, 0);
    }
    50% {
        border-color: rgba(0, 64, 13, 0) rgba(0, 64, 13, 0)  rgb(0, 255, 102) rgba(0, 64, 13, 0);
    }
    75% {
        border-color: rgba(0, 64, 13, 0) rgba(0, 64, 13, 0)  rgba(0, 64, 13, 0) rgb(0, 255, 102);
    } 
}
@keyframes project-load {
    0% {
        scale: 0;
    }
    100% {
        scale: 1;
    }

}



@media only screen and (max-width: 1170px) {

   
    .content h1{
        font-size: 3rem;
    }
    .content p{
        font-size: 1rem;
        
    }
    .main-content{
        display: flex;
    }


    .top-nav {
        flex-direction: row; 
        justify-content: flex-start;
        align-items: center;
        height: auto;
        padding: 10px 0 0 0;
    }

    #night-mode-toggle{
        display: none;
    }
    .top-nav-right h3{
        font-size: .95rem;
    }

    .top-nav-right ul {
        justify-content: center;
    }

    .top-nav-right li {
        padding-right: 10px;
        font-size: 1rem;
    }
    .shell {
        padding: 0;
    }
    .container{
        width: 100%;
    }

    .left-nav {
        width: 50px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-right: .1px solid black;
        padding: 10px 5px 0 0;
        margin: 0;

    }

    #logo {
       margin: 0;
  
    }
    .left-nav-social-links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

    }
    


    .social-links {
        margin-bottom: 0;
    }

    #night-mode-toggle{
        display: none;
    }
    .top-nav-left{
        justify-content: flex-start;
        padding-left: 10px;
    }
    .top-nav-right h3{
        font-size: .95rem;
    }

    .top-nav-right ul {
        justify-content: center;
    }

    .top-nav-right li {
        padding-right: 10px;
        font-size: 1rem;
    }
    .main-content {
        display: block;
        align-items: center;
    }

    .content {
        display: block;
        margin: 0;
        align-items: center;
    }

    .content h1{
        margin: 10px 0 0 0 ;
        font-family: 'Exo 2', sans-serif;
        font-size: 3rem;
        color: rgb(70, 70, 70);
        padding: 0;
    
    }
    
    .content p{
        margin: 5px 0 20px 0;
        font-size: calc(1.75rem - 1.25vh);
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        color: rgb(130, 0, 0);
        padding: 0;
    }


    .content-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .works{
        margin-left: 15px;
        justify-content: center;
        align-items: center;
    }
    .work-item{
        animation: rotateBorder 2s linear infinite .05s; /* Add a 2s delay to the animation */
    }
    .work-item a {
        display: block;
        position: relative;
        z-index: 1;
    }
    
    .works img {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .work-item img{
        padding: 0;
        margin: 0;
        align-items: flex-start;
        justify-content: start;
    }
    
    .work-item:hover {
        animation: rotateBorder 2s linear infinite .05s; /* Add a 2s delay to the animation */
        border-color: rgb(0, 255, 255) rgb(255, 0, 0) rgb(255, 0, 0) rgb(0, 255, 255); /* Set the final border color here */
        scale: 1.01
    }
    .works a{
        text-decoration: none;
        color: grey;
        font-size: 8px;
        padding: 0;

    }
    .project-description {

        visibility: visible; /* Initially hide the project descriptions */
        transition: visibility .1s ease;
    }

}

@media only screen and (max-width: 626px) {
    .shell {
        padding: 0;
    }
    .container{
        width: 100%;
    }

    .left-nav {
        width: 50px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-right: .1px solid black;
        padding: 10px 5px 0 5px;
        margin: 0;

    }

    #logo {
       margin: 0;
  
    }
    .left-nav-social-links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

    }
    


    .social-links {
        margin-bottom: 0;
    }


    .top-nav {
        flex-direction: column;
        height: auto;
        padding: 10px 0 0 0;
    }

    #night-mode-toggle{
        display: none;
    }

    .top-nav-left,
    .top-nav-right {
        flex: none;
        width: 100%;
        text-align: center;
        justify-content: center;
        padding: 10px;
    }
    .top-nav-right h3{
        font-size: .95rem;
    }

    .top-nav-right ul {
        justify-content: center;
    }

    .top-nav-right li {
        padding-right: 10px;
        font-size: 1rem;
    }
    .main-content {
        display: block;
        align-items: center;
    }

    .content {
        display: block;
        margin: 0;
        align-items: center;
    }

    .content h1{
        margin: 10px 0 0 0 ;
        font-family: 'Exo 2', sans-serif;
        font-size: 3rem;
        color: rgb(70, 70, 70);
        padding: 0;
    
    }
    
    .content p{
        margin: 5px 0 20px 0;
        font-size: calc(1.75rem - 1.25vh);
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        color: rgb(130, 0, 0);
        padding: 0;
    }


    .content-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .works{
        margin-left: 15px;
        justify-content: center;
        align-items: center;
    }
    
    .work-item a {
        display: block;
        position: relative;
        z-index: 1;
    }
    
    .works img {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .work-item img{
        padding: 0;
        margin: 0;
        align-items: flex-start;
        justify-content: start;
    }
    
    .work-item:hover {
        animation: rotateBorder 2s linear infinite .05s; /* Add a 2s delay to the animation */
        border-color: rgb(0, 255, 255) rgb(255, 0, 0) rgb(255, 0, 0) rgb(0, 255, 255); /* Set the final border color here */
        scale: 1.01
    }
    .works a{
        text-decoration: none;
        color: grey;
        font-size: 8px;
        padding: 0;

    }
    .project-description {

        visibility: visible; /* Initially hide the project descriptions */
        transition: visibility .1s ease;
    }

}

@media only screen and (max-width: 390px) {
    .left-nav {
        display: none; /* Hide the left navigation on smaller screens */
        margin: 0;
        padding: 0;
    }


    .works {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: flex-start;
        overflow: hidden;
        padding: 0;
        margin: 0;
        background: black;
        max-width: 300px;
        margin-right: 15px;
    }

    .work-item {
        flex: 0 0 calc(50% - 10px); /* Arrange work items in two columns */
        width: calc(50% - 10px); /* Adjust width to fit in two columns */
        margin: 5px;
        padding: 10px 0;
        cursor: pointer;
        border-radius: 3%;
    }
}

@media only screen and (max-width: 325px) {
    .left-nav {
        display: none; /* Hide the left navigation on smaller screens */
        margin: 0;
        padding: 0;
    }


    .works {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: flex-start;
        overflow: hidden;
        padding: 0;
        margin: 0;
        background: black;
        max-width: 300px;
        margin-right: 25px;
    }

    .work-item {
        flex: 0 0 calc(50% - 10px); /* Arrange work items in two columns */
        width: calc(50% - 10px); /* Adjust width to fit in two columns */
        margin: 5px;
        padding: 10px 0;
        cursor: pointer;
        border-radius: 3%;
    }
}
